# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Environment variables — NIKAD ne commitujte ovaj fajl!
.env.local
.env

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
